* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

.navsection {
  display: flex;
  justify-content: space-between;
  min-width: 1600px;
  min-height: 99px;
  background-color: #ffffff;
}
.navlist ul {
  display: flex;
}
.logo {
  color: rgba(20, 32, 62, 0.24);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  margin-left: 45px;
  margin-top: 35px;
}

.list-item {
  font-size: 18px;
  width: 49px;
  height: 23px;
  margin-top: 40px;
  margin-left: 56px;
  color: #14203e;
  list-style: none;
}

.navlist .list-item a {
  color: #14203e;
  text-decoration: none;
}

#btn1 {
  width: 111px;
  height: 49px;
  background: #f0d3d3;
  border-radius: 10px;
  color: #000000;
  font-size: 18px;
}
#btn2 {
  width: 179px;
  height: 49px;
  background: #14203e;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
}
form {
  margin-right: 45px;
  margin-top: 25px;
}

#top-section {
  background-color: #f0d3d3;
  max-width: 100vw;
  height: 604px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-fluid h2 {
  width: 550px;
  height: 140px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 72px;
  color: #14203e;
}
.container-fluid p {
  width: 600px;
  height: 58px;
  left: 500px;
  top: 403px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #14203e;
}
#start-btn {
  width: 192px;
  height: 73px;
  left: 704px;
  top: 501px;
  background: #14203e;
  border-radius: 10px;
  color: #f0d3d3;
  font-size: 18px;
}

.mid-section {
  max-width: 1600px;
  margin: 0rem auto;
  max-height: 496px;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
}

.repeat {
  display: flex;
  max-width: 1600px;
  margin: 0rem auto;
  max-height: 496px;
  justify-content: space-around;
  flex-flow: row wrap;
}
.elements {
  padding: 23px;
}

.elements img {
  width: 290px;
  height: 231px;
}
.elements p {
  max-width: 291px;
  max-height: 72px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 109%;
}
.date pre {
  max-width: 72px;
  max-height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #14203e;
}
.empty-div {
  max-width: 1600vw;
  min-height: 366px;
  background-color: #f0d3d3;
}
.tagline {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #14203e;
  max-height: 18px;
  margin-top: 30px;
}
.tagline p {
  overflow: hidden;
  text-align: center;
}
.tagline p:before,
.tagline p:after {
  background-color: #14203e33;
  content: "";
  display: inline-block;
  height: 6px;
  position: relative;
  vertical-align: middle;
  width: 200px;
}
.tagline p:before {
  right: 0.5em;
  margin-left: -50%;
}
.tagline p:after {
  left: 0.5em;
  margin-right: -50%;
}

.footer {
  min-width: 330px;
  min-height: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #14203e;
  margin-left: 32px;
  margin-bottom: 17px;
  margin-top: 150px;
}
